/LinguagemDeProgramacaoII/nbproject/private/
/LinguagemDeProgramacaoII/build/
/LinguagemDeProgramacaoII/dist/
/GabrielPegoraro_29-03-2023/nbproject/private/
/GabrielPegoraro_29-03-2023/build/
/Gabriel_Pegoraro_03-04-2023/build/
/EstudoCaso3SI/build/
