/LinguagemDeProgramacaoII/nbproject/private/
/LinguagemDeProgramacaoII/build/
/LinguagemDeProgramacaoII/dist/
/GabrielPegoraro_29-03-2023/nbproject/private/
/GabrielPegoraro_29-03-2023/build/
/Gabriel_Pegoraro_03-04-2023/build/
/EstudoCaso3SI/build/
/EstudoCaso3SI2023/dist/
/EstudoCaso/nbproject/private/
/EstudoCaso/build/
/EstudoCasoSI2023/build/
/EstudoCasoSI2023/nbproject/private/
/EstudoCasoSI2023/dist/